<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tile-big-dot.png</key>
		<dict>
			<key>frame</key>
			<string>{{68, 24}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-bottom-left-corner.png</key>
		<dict>
			<key>frame</key>
			<string>{{24, 24}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-bottom-right-corner.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 90}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-empty-space.png</key>
		<dict>
			<key>frame</key>
			<string>{{46, 24}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-ghost-orange-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{68, 2}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-ghost-pink-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{90, 2}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-horizontal-left-end.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 24}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-horizontal-right-end.png</key>
		<dict>
			<key>frame</key>
			<string>{{90, 46}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-horizontal-wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{46, 68}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-pacman-closed.png</key>
		<dict>
			<key>frame</key>
			<string>{{24, 90}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-pacman-open-down.png</key>
		<dict>
			<key>frame</key>
			<string>{{68, 68}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-pacman-open-left.png</key>
		<dict>
			<key>frame</key>
			<string>{{46, 2}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-pacman-open-right.png</key>
		<dict>
			<key>frame</key>
			<string>{{46, 90}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-pacman-open-up.png</key>
		<dict>
			<key>frame</key>
			<string>{{24, 2}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-select.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 46}, {16, 16}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 2}, {16, 16}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-small-dot-highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{46, 46}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-small-dot.png</key>
		<dict>
			<key>frame</key>
			<string>{{24, 68}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-top-left-corner.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 68}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-top-right-corner.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-vertical-bottom-end.png</key>
		<dict>
			<key>frame</key>
			<string>{{90, 24}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-vertical-top-end.png</key>
		<dict>
			<key>frame</key>
			<string>{{68, 46}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
		<key>tile-vertical-wall.png</key>
		<dict>
			<key>frame</key>
			<string>{{24, 46}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128, 128}</string>
	</dict>
</dict>
</plist>
